.*/*
!.github/*
!.vscode/settings.json
.idea

target
os/src/link_app.S
os/src/linker.ld
os/.gdb_history
user/build
user/target/*
pre_ctests/build/*

fat32.img
ext4.img
compile_commands.json
*.a
!os/vendor/**
build-musl-generic
kernel-rv
kernel-la
/2026_testsuits_img

*.dtb
*.dts
*.txt
!os/vendor/**
*.ans
