.*/*
!.github/*
!.vscode/settings.json
!.agents/*
.idea

target
os/src/link_app.S
os/src/linker.ld
os/.gdb_history
os/.cargo/
user/.cargo/
user/build
user/target/*
pre_ctests/build/*

fat32.img
ext4.img
compile_commands.json
*.a
!os/vendor/**
build-musl-generic
kernel-rv
kernel-la
kernel-vf2
disk.img
/2026_testsuits_img
qemu-*

*.dtb
*.dts
!crates/lwext4_rust/**/CMakeLists.txt
!os/vendor/**
*.ans
*.svg
